@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
}
/* 
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}
.navbar li {
  list-style-type: none;
}
.navbar li a {
  text-decoration: navbar;
  display: inline;
  padding: 10px;
  text-transform: uppercase;
}
.navbar li a:hover {
  border: 1px solid grey;
}
